<header id="header" class="header d-flex align-items-center">
   <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a routerLink="/" class="logo d-flex align-items-center">
         <!-- Uncomment the line below if you also wish to use an image logo -->
         <!-- <img src="/Confusion/src/assets/img/logo.png" alt=""> -->
         <h1>The Local <span class="text-center d-block d-sm-inline">Market</span></h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
         <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li *ngIf="isLogged"><a routerLink="/market">Market</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li class="d-none d-sm-block"></li>
            <li *ngIf="isLogged" class="d-none d-sm-block"></li>
            <li *ngIf="isLogged" class="d-none d-sm-block"></li>
         </ul>
      </nav>
      <span *ngIf="!isLogged" class="navbar-text login-btn-span">
         <a id="login-btn" type="button" data-bs-toggle="modal" data-bs-target="#sign-dialog">
            Login <span class="fa fa-sign-in"></span>
         </a>
      </span>
      <span *ngIf="isLogged" class="dropdown  profile-dropdown-span">
         <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{baseURL + img}}" width="40"
               height="40" class="rounded-circle">
               <span class="d-inline">&nbsp;@{{username}}</span>
         </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li *ngIf="seller"><a class="dropdown-item" routerLink="/myStore">My Store</a></li>
            <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
         </ul>
      </span>
   </div>
</header>
<app-sign-form-dialog (login)="onLogin()" class="modal fade" id="sign-dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
</app-sign-form-dialog>