<div class="breadcrumbs d-flex align-items-center" style="background-image: url('{{baseURL + store.img}}');">
   <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <ol>
         <li><a routerLink="/">Home</a></li>
         <li><a routerLink="/market">Market</a></li>
         <li>{{store.name}}</li>
      </ol>
      <br>
      <h2 class="text-warning">{{store.name}}</h2>
      <br>
      <h4>
         <ul>
            <li class="d-inline"><span class="badge rounded-pill bg-light">
                  <i class="bi bi-person text-warning">&nbsp;{{store.owner}}</i></span></li>
            <li class="d-inline"><span class="px-5 mx-5"></span></li>
            <li class="d-inline"><span class="badge rounded-pill bg-light">
                  <i class="bi bi-clock text-warning">&nbsp;<time>{{store.createdAt}}</time></i></span></li>
         </ul>
      </h4>
      <br>
      <p class="text-white" data-aos="fade-up">{{store.description}}</p>
   </div>
</div>
<main id="main">

   <!-- ======= store Details Section ======= -->
   <div class="container my-5" *ngFor="let category of store.categories">

      <h2 *ngIf="categoryFound(category) == true" class="text-center" style="font-family: 'Courier New', Courier, monospace;">{{category}}</h2>
      <hr *ngIf="categoryFound(category) == true" class="bg-warning w-25 rounded-pill border-0 opacity-75 mx-auto" style="height:8px;">

      <div class="row">

         <div class="col-7 mx-auto col-md-4 col-lg-3 p-1 p-md-3" *ngFor="let prod of productsFound(category)">

            <div class="card">

               <div class="image-container">

                  <div class="first">

                     <div class="d-flex justify-content-between align-items-center">
                        <span *ngIf="favorite == true" class="wishlist bg-warning"><i class="fa fa-heart-o text-danger"></i></span>
                        <span *ngIf="favorite == false" class="wishlist bg-warning"><i class="fa fa-heart text-danger"></i></span>
                     </div>
                  </div>

                  <img src="{{baseURL + prod.img}}" class="img-fluid rounded thumbnail-image" style="width: 100%;height: 350px;object-fit: cover;">

               </div>

               <div class="product-detail-container p-2">
                  
                  <div class="d-flex justify-content-between align-items-center" style="min-height: 80px;">
                     <h5 class="dress-name">{{prod.title}}</h5>
                     <div class="d-flex flex-column mb-2">
                        <span style="min-width: 90px;" class="new-price text-warning">{{prod.price}} S.P</span>
                     </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center pt-1">
                     <div class="color-select d-flex ">
                        <h5><span class="badge rounded-pill bg-danger text-white">{{category}}</span></h5>
                     </div>
                     <div class="d-flex" style="min-width: 90px;">
                        <span class="item-size me-1 mb-1 btn bg-warning text-white" *ngFor="let size of prod.sizes"><b>{{size}}</b></span>
                     </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center pt-1">
                     <div>
                        <i class="fa fa-star rating-star"></i>
                        <span class="rating-number">4.8</span>
                     </div>
                  </div>

               </div>
            </div>
         </div>

      </div>

   </div>

</main>