<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/market-1.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

    <h2>About</h2>
    <ol>
      <li><a routerLink="/">Home</a></li>
      <li>About</li>
    </ol>

  </div>
</div><!-- End Breadcrumbs -->
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row position-relative">

        <div class="col-lg-7 about-img" style="background-image: url({{baseURL}}assets/img/market-1.jpg);"></div>

        <div class="col-lg-7">
          <h2>The Local Market</h2>
          <div class="our-story">
            <h3>Project Idea</h3>
            <p>If you are looking for a market that meets all your needs, 
              but do not trust buying online from unreliable or unknown stores to you, 
              we offer you the solution, which is the local market website or application. 
              See the most important features:</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Tangible reliability and security</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Accessibility and clarity</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Browse stores and merchandise and add to favorites</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Add the goods to the card and complete the purchase</span></li>
              <li><i class="bi bi-check-circle"></i> <span>The possibility of creating your own store with ease</span></li>
            </ul>
            <p>Those were the most important features of the buyer user.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter section-bg">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-headset color-green flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-people color-pink flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>
  </section><!-- End Stats Counter Section -->

  <!-- ======= Alt Services Section ======= -->
  <section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-6 img-bg" style="background-image: url({{baseURL}}assets/img/stores/store-logo.png);" data-aos="zoom-in"
          data-aos-delay="100"></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3>If You Want To Become a Seller</h3>
          <p>This is an easy process, through the personal profile by choosing my store,
             and then if you are not a previous seller, you will see the store creation interface</p>

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-easel flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Store name</a></h4>
              <p>Here you put the name of the store that you want to appear in front of users</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-patch-check flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Store Type</a></h4>
              <p>Here, you can put the type or category of your store, such as men's clothing, family clothing, or shoes...etc</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Phone number</a></h4>
              <p>You will add your store number here</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">The rest of the information</a></h4>
              <p>In the same way, then add the rest of the information clearly and easily</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>
  </section><!-- End Alt Services Section -->

</main><!-- End #main -->