<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/market-1.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

    <h2>Services</h2>
    <ol>
      <li><a routerLink="/">Home</a></li>
      <li>Services</li>
    </ol>

  </div>
</div><!-- End Breadcrumbs -->
<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="fa-solid fa-mountain-city"></i>
            </div>
            <h3>Create your own store</h3>
            <p>This application enables you to create your own store and add the basic information of the store and add
              goods with ease</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-arrow-up-from-ground-water"></i>
            </div>
            <h3>Sell your products</h3>
            <p>After adding the store and adding the goods and special products to the store,
              you will be able to display them to users, sell them, and add them to your sale record</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <h3>Store Mangment</h3>
            <p>You can manage your store by adding and deleting goods, 
              monitoring the purchase history, and modifying your store information as you wish</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-trowel-bricks"></i>
            </div>
            <h3>Buy products</h3>
            <p>As a regular user of the site, you can browse stores and their products,
              make purchases, add to favorites, and view your purchase history</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Alt Services Section 2 ======= -->
  <section id="alt-services-2" class="alt-services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-6 img-bg" style="background-image: url({{baseURL}}assets/img/stores/store-logo.png);" data-aos="zoom-in"
          data-aos-delay="100"></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3>If You Want To Become a Seller</h3>
          <p>This is an easy process, through the personal profile by choosing my store,
             and then if you are not a previous seller, you will see the store creation interface</p>

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-easel flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Store name</a></h4>
              <p>Here you put the name of the store that you want to appear in front of users</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-patch-check flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Store Type</a></h4>
              <p>Here, you can put the type or category of your store, such as men's clothing, family clothing, or shoes...etc</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Phone number</a></h4>
              <p>You will add your store number here</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">The rest of the information</a></h4>
              <p>In the same way, then add the rest of the information clearly and easily</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>
  </section><!-- End Alt Services Section 2 -->

</main>