<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/market-1.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

    <h2>Store</h2>
    <ol>
      <li><a routerLink="/">Home</a></li>
      <li>Market</li>
    </ol>

  </div>
</div>
<main id="main">

  <section id="store" class="store">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 stores-list" *ngIf="stores">

        <div class="col-xl-4 col-6 p-2" *ngFor="let store of stores" routerLink="/store/{{store._id}}">
          <div class="store-item position-relative h-50" style="border-radius: 15px !important;">

            <div class="store-img position-relative overflow-hidden"
              style="border-top-left-radius: 15px !important;border-top-right-radius: 15px !important;">
              <img src="{{baseURL + store.img}}" class="img-fluid" alt="">
              <span class="store-category">{{store.type}}</span>
            </div>

            <div class="store-content d-flex flex-column">

              <h3 class="store-title">{{store.name}}</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">{{store.owner}}</span>
                </div>
              </div>

              <p>{{store.description}}</p>

              <hr>

              <a class="readmore stretched-link"><span>Viwe Products</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End store list item -->
        <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>
        <p></p>

      </div><!-- End store list -->

      <div class="store-pagination">
        <ul class="justify-content-center">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div><!-- End store pagination -->

    </div>
  </section><!-- End store Section -->

</main><!-- End #main -->