<!-- ======= market-carousel Section ======= -->
<section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">Welcome to <br>The Local <span class="text-warning">Market</span></h2>
          <p class="d-none d-sm-block" data-aos="fade-up">The first ever web application of its kind in Syria were you
            will be able to (See all the goods in your local market and Bay or Reserve a specific product)
            <br>and if you are a market owner you can add your store to our application
          </p>
          <a *ngIf="isLogged == false" data-bs-toggle="modal" class="btn-get-started" data-bs-target="#sign-dialog">Get Started</a>
          <a *ngIf="isLogged == true" data-bs-toggle="modal" class="btn-get-started" routerLink="/market">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div id="market-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div style="background-image: url({{baseURL}}assets/img/market-1.jpg)" class="carousel-item active"></div>
    <div style="background-image: url({{baseURL}}assets/img/market-2.jpg)" class="carousel-item"></div>
    <div style="background-image: url({{baseURL}}assets/img/market-3.jpg)" class="carousel-item"></div>

    <a class="carousel-control-prev" href="#market-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#market-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section><!-- market-carousel Section -->

<main id="main">

  <!-- ======= Constructions Section ======= -->
  <section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Markets</h2>
        <p>We have envolved in many markets in the country and We aspire to reach every possible market and every possible user</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({{baseURL}}assets/img/market-1.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Ibn Rushd Market</h4>
                  <p>It is a local market that often specializes in clothing and shoes stores that suit 
                    all family members and are the most famous and well-known in the city.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({{baseURL}}assets/img/market-2.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Orontes Square Market</h4>
                  <p>It is a very famous market in the city, in which there are all kinds of possible stores that meet 
                    the needs of the city, from electronic parts to home appliances to the clothing market.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({{baseURL}}assets/img/market-3.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">El Alamein market</h4>
                  <p>It is a market similar to the Al-Asi Square market and is considered an extension of it, 
                    but it contains civil services in addition to it and many other things</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Constructions Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Services</h2>
        <p>Our website offers many services that facilitate their daily lives for users, 
          in addition to the benefit that it brings to our store owners</p>
      </div>

      <div class="row gy-4">

        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="fa-solid fa-mountain-city"></i>
            </div>
            <h3>Create your own store</h3>
            <a routerLink="/services" class="readmore stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-arrow-up-from-ground-water"></i>
            </div>
            <h3>Sell your products</h3>
            <a routerLink="/services" class="readmore stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <h3>Store Mangment</h3>
            <a routerLink="/services" class="readmore stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-trowel-bricks"></i>
            </div>
            <h3>Buy products</h3>
            <a routerLink="/services" class="readmore stretched-link"></a>
          </div>
        </div><!-- End Service Item -->
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Our Projects Section ======= -->
  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Stores</h2>
        <p>Here we have some pictures of our stores that some users have created</p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order">

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-6 col-lg-3 portfolio-item filter-remodeling" *ngFor="let store of stores">
            <div class="portfolio-content h-100">
              <img src="{{baseURL + store.img}}" class="img-fluid"style="height: 350px;width: 100%;object-fit: cover;">
              <div class="portfolio-info">
                <h4>{{store.name}}</h4>
                <p>{{store.description}}</p>
                <a href="{{baseURL + store.img}}" title="Remodeling 1"
                  data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                    class="bi bi-zoom-in"></i></a>
              </div>
            </div>
          </div><!-- End Projects Item -->

        </div><!-- End Projects Container -->

      </div>

    </div>
  </section><!-- End Our Projects Section -->

</main><!-- End #main -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<app-sign-form-dialog class="modal fade" id="sign-dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
</app-sign-form-dialog>